server:
  port: 8080

spring:
  application:
    name: egov-boot-sample
  thymeleaf:
    cache: false
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
    
logging:
  level:
    egovframework: DEBUG
    org.springframework: INFO
