server:
  port: 8080

spring:
  application:
    name: egov-gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://egov-user-service
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: order-service
          uri: lb://egov-order-service
          predicates:
            - Path=/order/**
          filters:
            - StripPrefix=1
        - id: product-service
          uri: lb://egov-product-service
          predicates:
            - Path=/product/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
